.main-link {
  transition: all 0.3s ease;

  &:hover {
    color: $main-blue-light;
    text-decoration: underline;
  }

  @media (max-width: $breakpoint-mobile-default) {
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
  }
}
