.main-button {
  min-width: 97px;
  padding: 14px;
  border-radius: 24px;
  color: $main-white;
  text-align: center;
  text-transform: uppercase;
  background-color: $main-blue-light;
  cursor: pointer;
  transition: all 0.3s ease;

  &:hover {
    color: $main-blue-light;
    background-color: $main-white;
  }

  @media (max-width: $breakpoint-mobile-default) {
    font-size: 16px;
    line-height: 20px;
  }
}
