@mixin main-text {
  font-weight: 400;
  font-size: $font-size-base;
  line-height: 20px;
}

@mixin main-title {
  font-weight: 500;
  font-size: 96px;
  line-height: 96px;
}

@mixin main-heading {
  font-weight: 600;
  font-size: 40px;
  line-height: 40px;
}

@mixin main-heading-medium {
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
}

@mixin main-heading-small {
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

@mixin main-description {
  font-weight: 500;
  font-size: 32px;
  line-height: 32px;
}

@mixin main-description-small {
  font-weight: 450;
  font-size: 14px;
  line-height: 16px;
}
