/* Breakpoints */
$breakpoint-mobile-default: 320px;
$breakpoint-mobile-fallback: 500px;
$breakpoint-mobile-portrait: 600px;
$breakpoint-mobile-landscape: 768px;
$breakpoint-tablet-small: 800px;
$breakpoint-tablet: 1050px;
$breakpoint-laptop: 1200px;
$breakpoint-laptop-big: 1280px;
$breakpoint-desktop: 1440px;
$breakpoint-tv: 1920px;

/* Colors */

$main-dark: #000000;
$main-white: #ffffff;
$main-white-grey: rgba($main-white, 0.6);
$secondary-dark-blue: #1e1231;
$main-dark-blue: #110a1d;
$main-blue-light: #478bf9;
$main-purple-light: #9dadf2;

/* Fonts */

$font-family-primary: "Lexend", arial, sans-serif;

$font-size-base: 16px;
