*,
::after,
::before {
  box-sizing: border-box;
}

html {
  min-height: 100%;
  text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

section {
  width: 100%;
}

body {
  position: relative;
  max-width: 100%;
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-family: $font-family-primary;
  @include main-text;
  text-align: left;
  color: $main-white;
  background-color: $main-dark-blue;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

button:focus {
  outline: 0;
}

table {
  border-collapse: collapse;
}

img {
  border-style: none;
}

img,
svg {
  vertical-align: middle;
}

svg {
  overflow: hidden;
}

a {
  color: $main-white;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

fieldset {
  padding: 0;
  border: none;
}

button {
  margin: unset;
  padding: unset;
  border: unset;
  border-radius: unset;
  background-color: unset;
}

[tabindex="-1"]:focus:not(:focus-visible) {
  outline: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
}
