.hero-animated-lines {
  width: 30%;
  height: 100%;
  overflow: hidden;

  &__wrapper {
    display: flex;
    gap: 16px;
    height: 1000px;
    overflow: hidden;

    @media (max-width: $breakpoint-mobile-default) {
      display: none;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    width: auto;
  }

  @media (max-width: $breakpoint-mobile-default) {
    width: 100%;
    height: auto;
  }

  @keyframes topLineAnimation {
    from {
      transform: translateY(0);
    }

    to {
      transform: translateY(-100%);
    }
  }

  @keyframes downLineAnimation {
    from {
      transform: translateY(-100%);
    }

    to {
      transform: translateY(0);
    }
  }

  @keyframes rightLineAnimation {
    from {
      transform: translateX(-70%);
    }

    to {
      transform: translateX(0%);
    }
  }

  @keyframes leftLineAnimation {
    from {
      transform: translateX(0%);
    }

    to {
      transform: translateX(-70%);
    }
  }

  &__line {
    display: inline-block;
    width: 100px;
    height: auto;
  }

  &__wrapper--desktop.animate {
    .hero-animated-lines__line {
      &:nth-child(1) {
        animation: 10s downLineAnimation infinite linear;
      }

      &:nth-child(2) {
        animation: 10s topLineAnimation infinite linear;
      }

      &:nth-child(3) {
        animation: 10s downLineAnimation infinite linear;
      }
    }
  }

  &__wrapper--mobile.animate {
    .hero-animated-lines__line {
      @media (max-width: $breakpoint-tablet) {
        display: flex;
        width: 100%;

        &:nth-child(1) {
          animation: 10s rightLineAnimation infinite linear;
        }

        &:nth-child(2) {
          animation: 10s leftLineAnimation infinite linear;
        }

        &:nth-child(3) {
          animation: 10s rightLineAnimation infinite linear;
        }
      }
    }
  }
}
