.link-list {
  ul {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: space-between;

    @media (max-width: $breakpoint-tablet) {
      flex-direction: column;
      gap: 2px;
    }
  }
}
