include ../ui-elements/main-button

mixin hero-text-content(title, secondTitle, text, buttonName, additionalClass)
  .hero-text-content(class= additionalClass)
    h2.hero-text-content__title
      = title
      <br />
      span= secondTitle
    p.hero-text-content__text= text
    +main-button(buttonName)