mixin hero-animated-lines()
  .hero-animated-lines
    .hero-animated-lines__wrapper
      img(src="img/pictures/hero-line-bg-1.svg", alt="").hero-animated-lines__line
      img(src="img/pictures/hero-line-bg-2.svg", alt="").hero-animated-lines__line
      img(src="img/pictures/hero-line-bg-3.svg", alt="").hero-animated-lines__line
  .hero-animated-lines__wrapper--mobile
    img(src="img/pictures/hero-line-bg-1-mobile.svg", alt="").hero-animated-lines__line
    img(src="img/pictures/hero-line-bg-2-mobile.svg", alt="").hero-animated-lines__line
    img(src="img/pictures/hero-line-bg-3-mobile.svg", alt="").hero-animated-lines__line