.hero {
  background-image: url("../img/pictures/blur-bg-1.svg");
  background-repeat: no-repeat;
  background-position: left top;

  .hero-animated-lines__wrapper--mobile {
    display: none;

    @media (max-width: $breakpoint-tablet) {
      display: flex;
      flex-direction: column;
      gap: 8.16px;
      width: 100%;
      overflow: hidden;
    }
  }

  .hero-animated-lines__wrapper--desktop {
    display: flex;

    @media (max-width: $breakpoint-tablet) {
      display: none;
    }
  }

  .section-container {
    @media (max-width: $breakpoint-tablet) {
      max-width: 100%;
      padding-right: 0;
      padding-left: 0;
    }
  }

  @media (max-width: $breakpoint-desktop) {
    padding-bottom: 40px;
  }

  @media (max-width: $breakpoint-tablet) {
    padding-bottom: 119px;
    background-size: 90%;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: $breakpoint-desktop) {
      flex-direction: column;
      align-items: center;
    }
  }

  .hero-text-content {
    width: 700px;
    margin-right: 42px;
    padding-top: 296px;

    @media (max-width: $breakpoint-desktop) {
      max-width: 100%;
      margin-right: 0;
      margin-bottom: 32px;
      padding-top: 70px;
      text-align: center;
    }

    @media (max-width: $breakpoint-mobile-default) {
      max-width: 300px;
      margin: 0 auto;
      margin-bottom: 32px;
      padding-top: 70px;
      padding-right: 10px;
      padding-left: 10px;
    }
  }

  .main-button {
    border-radius: 48px;
    font-weight: 600;
    font-size: 24px;
    line-height: 32px;

    @media (max-width: $breakpoint-desktop) {
      min-width: 30%;
    }

    @media (max-width: $breakpoint-tablet) {
      padding-right: 10px;
      padding-left: 10px;
      font-size: 18px;
      line-height: 22px;
    }

    @media (max-width: $breakpoint-mobile-default) {
      min-width: 100%;
      padding-right: 10px;
      padding-left: 10px;
      font-size: 18px;
      line-height: 22px;
    }
  }

  .hero-blog {
    margin-left: 64.2px;
    padding-top: 140px;

    @media (max-width: $breakpoint-desktop) {
      margin-left: 0;
      padding-top: 33px;
      padding-right: 10px;
      padding-left: 10px;
    }

    @media (max-width: $breakpoint-mobile-default) {
      max-width: 300px;
      margin: 0 auto;
    }
  }

  .hero-animated-lines {
    &__wrapper {
      @media (max-width: $breakpoint-mobile-default) {
        flex-direction: column;
      }
    }
  }
}
