include ../ui-blocks/link-list
include ../ui-elements/main-button
include ../ui-elements/secondary-button

-
  linksList = [
    'About us',
    'Brands',
    'Commissions',
    'News',
    'Contact us',
    'Careers'
  ]

header.header
  .section-container
    .header__wrapper
      button.secondary-button(type="button").header__language-button.header__language-button--mobile
        span.header__language-option EN
        span.header__language-option RU
        img(src='img/icons/planet-icon.svg', alt="")
      .header__burger-button
        img(src="img/icons/burger-icon.svg", alt="").header__burger-icon
        img(src="img/icons/close-icon.svg", alt="").header__close-icon
      .header__grid
        nav
          +link-list(linksList)
        .header__user-controls
          ul
            li
              button.secondary-button(type="button").header__language-button.header__language-button--desktop
                span.header__language-option.active EN
                span.header__language-option RU
                img(src='img/icons/planet-icon.svg', alt="")
            li
              +secondary-button('LOG IN', false)
            li
              +main-button('SIGN UP')







